@{
    ViewData["Title"] = "Zapomniałem hasła";
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/ForgotPassword.css">
</head>
<body>
    <div id="tlo">
        <header>
            <a href="@Url.Action("Index", "Home")" class="logo">Logo</a>

            <div id="rightNavlist">
                <a href="@Url.Action("SellOrRent", "Home")"><div id="WstawOgloszenie">Dodaj ogłoszenie</div></a>
            </div>
        </header>

        <div class="container">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                <h2>Zapomniałem hasła</h2>
                <div class="input">
                    <label>Email:</label>
                    <input type="email" name="email" required placeholder="Wpisz swój email" />
                </div>
                <button type="submit">Wyślij link resetujący hasło</button>
            </form>
        </div>
    </div>
</body>
</html>
